name: CI/CD Pipeline

on: 
  pull_request: 
    branches:
      - main
  push:
    branches: 
      - main

permissions:
  pull-requests: read # required for dorny/paths-filter
  contents: read # required for checkout

jobs: 
  path_filter: 
    runs-on: ubuntu-latest
    outputs:
      db: ${{ steps.filter.outputs.db }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Path Filter
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            db:
              - 'db/**'
              - '.github/workflows/ci_cd.yaml'
      
  ci-cd-db: 
    needs: path_filter
    if: needs.path_filter.outputs.db == 'true'
    uses: ./.github/workflows/ci_cd_db.yaml
    secrets: inherit