name: CI/CD Database

on: 
  workflow_call: 

jobs: 
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Build
        run: |
          docker build -t db-image:latest ./db
